/* 
██████╗░██████╗░░█████╗░███╗░░██╗░░░░░██╗░█████╗░██╗░░░░░  ██████╗░░█████╗░██╗░░░░░
██╔══██╗██╔══██╗██╔══██╗████╗░██║░░░░░██║██╔══██╗██║░░░░░  ██╔══██╗██╔══██╗██║░░░░░
██████╔╝██████╔╝███████║██╔██╗██║░░░░░██║███████║██║░░░░░  ██████╔╝███████║██║░░░░░
██╔═══╝░██╔══██╗██╔══██║██║╚████║██╗░░██║██╔══██║██║░░░░░  ██╔═══╝░██╔══██║██║░░░░░
██║░░░░░██║░░██║██║░░██║██║░╚███║╚█████╔╝██║░░██║███████╗  ██║░░░░░██║░░██║███████╗
╚═╝░░░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝░╚════╝░╚═╝░░╚═╝╚══════╝  ╚═╝░░░░░╚═╝░░╚═╝╚══════╝
*/


body { 
    font-family: Arial, sans-serif; 
}
.container { 
    max-width: 300px; 
    margin: auto; 
    padding: 20px; 
    background-color: linear-gradient(120deg, #3498db, #8e44ad);
}
.result { 
    margin-top: 20px; 
}

#convertBtn { 
    margin-top: 20px; 
    width: 100%; 
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
}